{
    "availabilityDomain": "IHzD:CA-TORONTO-1-AD-1",
    "compartmentId": "{{.compartmentId}}",
    "displayName": "{{.displayName}}",
    "imageId": "ocid1.image.oc1.ca-toronto-1.aaaaaaaa3s3dkuflnmyoqxqp3narlvfl7ngpjacxxhnxcuw22jnhe6qdfgdq",
    "metadata": {
                "ssh_authorized_keys": "{{.sshPubKey}}"
            },
    "region": "ca-toronto-1",
    "shape": "VM.Standard.E2.1",
    "subnetId": "{{.subnetId}}"
}